<header>
  <app-header></app-header>
</header>

<section class="contact">
  <h1 class="underline">Voici l'équipe qui a consistué ce projet</h1>
  <div class="groupe">
    <img
      class="equipe"
      src="../../../assets/img/luffy_1.png"
      alt="Abderrahim"
    />
    <img class="equipe" src="../../../assets/img/Gintoki_1.png" alt="Anojan" />
    <img
      class="equipe"
      src="../../../assets/img/boruto_1.png"
      alt="Christophe"
    />
  </div>

  <div class="separation"></div>

  <div class="contact-form-container">
    <form action="#">
      <h1 class="underline">Une question ? Contactez nous</h1>
      <label class="my-20" for="name">Nom</label>
      <input type="text" name="name" id="name" />
      <label class="my-20" for="question">Questions et remarques</label>
      <textarea name="question" id="question"></textarea>
      <button class="btn btn-dark my-20">SOUMETTRE</button>
    </form>
  </div>
</section>

<footer>
  <app-footer></app-footer>
</footer>
