<header>
  <app-header></app-header>
</header>
<div class="vp-container">
  <section class="vp">
    <div class="vp-content">
      <h1>Bienvenue dans Mars Galaxy</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi expedita
        nostrum voluptate facere veniam quam porro dolor non cumque optio.
      </p>
    </div>
  </section>
</div>
<section>
  <h1 class="underline">Voici nos photos du jour</h1>
  <div class="groupe">
    <button class="btn btn-dark my-20">Voir</button>
    <img
      class="equipe"
      src="../../../assets/img/marslandscape.jpg"
      alt="PhotosDuJour"
    />
    <button class="btn btn-dark my-20">Voir</button>
    <img class="equipe" src="../../../assets/img/watermars.jpg" alt="Galerie" />
  </div>
</section>

<footer>
  <app-footer></app-footer>
</footer>
