<section class="content">
  <nav>
    <ul>
      <li>
        <a class="content-link" routerLink="/home" routerLinkActive="true"
          >Home</a
        >
      </li>
      <li>
        <a class="content-link" routerLink="/galerie" routerLinkActive="true"
          >Galerie</a
        >
      </li>
      <li>
        <a
          class="content-link"
          routerLink="/photos-per-day"
          routerLinkActive="true"
          >Photos Par Jours</a
        >
      </li>
      <li>
        <a class="content-link" routerLink="/contact" routerLinkActive="true"
          >Contacts</a
        >
      </li>
    </ul>
  </nav>
</section>
